body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.wrapper {
    margin: auto;
    margin-top: 50px;

    width: fit-content;
    max-width: 800px;

    padding: 20px;

    box-shadow: 0px 0px 3px 3px #AAAAAA;
    border-radius: 10px;

    overflow: hidden;
}

.join-game-wrapper {
    width: 100%;

    display: flex;
}
.join-game-container {
    flex: 1.0;
    padding-left: 20px;
    border-left: 1px solid #BBBBBB;
}
.create-game-container {
    flex: 1.0;
    padding-right: 20px;
    border-right: 1px solid #AAAAAA;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
