/* CSS aus dummy.html */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    margin-top: 50px;

    width: fit-content;
    max-width: 800px;

    padding: 20px;

    box-shadow: 0px 0px 3px 3px #AAAAAA;
    border-radius: 10px;

    overflow: hidden;
}

.join-game-wrapper {
    width: 100%;

    display: flex;
}
.join-game-container {
    flex: 1.0;
    padding-left: 20px;
    border-left: 1px solid #BBBBBB;
}
.create-game-container {
    flex: 1.0;
    padding-right: 20px;
    border-right: 1px solid #AAAAAA;
}

.game-browser-table {
    width: 100%;

    padding: 5px;

    box-shadow: 0px 0px 2px 1px #AAAAAA;
    border-radius: 10px;
}
.game-browser-table>thead {
    text-align: center;
    font-weight: bold;
}
.game-browser-table>tbody {
    text-align: center;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}



/* === Original CSS aus demo.html ======================================== */
header {
    border-bottom: 1px solid black;
}
html, body, .main-wrapper {
    height:100%;
}

.header--box {
    background: #6ed3cf;
    min-height: 60px;
    text-align: center;
    border-radius: 25px;
}
.main-wrapper {
    background: #eee;
    border-left: 1px solid;
    border-right: 1px solid;
    box-shadow: 24px 10px 19px 14px rgba(0,0,0,0.75);
    border-radius:25px;
}

.board {
    width: 432.9px;
    height: 401px;
    border: 1px solid black;
    background: blue;
}
.board button {
    border: 1px solid;
    border-radius: 50% !important;
    background: white;
}
.box {
    width: 50px;
    height: 50px;
    border: 4px solid blue;
    background: blue;
    display: inline-grid;
}

.red-ball {
    background: red !important;
}

.yellow-ball {
    background: yellow !important;
}

.green-ball {
    background: green !important;
}

.is--hidden {
    display: none !important;
}
#game-url, .context-box {
    text-align: center;
}
